@import "tailwindcss";

:root {
  --background: #ffffff;
  --font-sans: var(--font-plus-jakarta); /* 👈 pick one default */
  --font-mono: var(--font-geist-mono);
}

body {
  background-color: white;
  font-family: var(--font-sans); /* 👈 now consistent */
}

.font-plus {
  font-family: var(--font-plus-jakarta);
}
