@import "tailwindcss";

:root {
  --background: #ffffff;
   --font-sans: var(--font-plus-jakarta);
}

@theme inline {
  --font-sans: var(--font-geist-sans);
   --font-sans: var(--font-plus-jakarta);
  --font-mono: var(--font-geist-mono);
}
body{
  background-color:  white
}
.font-plus {
  font-family: var(--font-plus-jakarta);
}
